html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* font */
@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('font/NeueHaasDisplayRoman.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('font/NeueHaasDisplayMedium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('font/NeueHaasDisplayBold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}